.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 4rem;
}

.header__title::before{
    content: '<';
    color: var(--color-main-purple);
}
.header__title{
    font-family: var(--title-font);
    font-size: 1.8em;
    margin-left: 4rem;
}
.header__title::after{
    content: '/>';
    color: var(--color-main-purple);
}

.header__nav{
    margin-right: 4em;
}
.header__nav__link{
    font-family: var(--text-fonts);
    font-weight: 500;
    font-size: 0.94em;
    text-decoration: none;
    color: var(--color-nav-text-grey);
}
.header__nav__link + .header__nav__link{
    margin-left: 1em;
}
